# This file assigns code owners automatically to pull requests

# Assign Tooling team to all files in the repository
* @outscale/Tooling

# Assign Documentation team to all files in the docs/ directory
/docs/ @outscale/Documentation
