[submodule "docs/osc-api"]
	path = docs/osc-api
	url = https://github.com/outscale/osc-api
[submodule "docs/doc-terraform-template"]
	path = docs/doc-terraform-template
	url = https://github.com/outscale-dev/terraform-provider-outscale-doc-components.git
