terraform-provider-outscale
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info

.vscode/
log.txt
terraform-provider-outscale
*.log
*.out
log.*
.DS_Store
*~

# /tests

.venv/
__pycache__/
conf/provider.auto.tfvars
terraform
terraformStatePull.json
*.dump
*.out
/tests/.project
/tests/.pydevproject
/tests/.cache/
/tests/.pytest_cache/
/tests/.settings/
/tests/provider.auto.tfvars.template.cpgz
/tests/resources.auto.tfvars.template.cpgz
/tests/test.tf
/tests/old.py
/tests/tmp.txt

# docs
docs/generation_log.txt
docs/.venv