<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4>3DS OUTSCALE</h4>

    <ul class="nav docs-sidenav">
      <li>
        <a href="#">Data Sources</a>
        <ul class="nav">

          <li>
            <a href="/docs/providers/outscale/d/access_key.html">access_key</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/access_keys.html">access_keys</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/client_gateway.html">client_gateway</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/client_gateways.html">client_gateways</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/dhcp_option.html">dhcp_option</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/dhcp_options.html">dhcp_options</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/image.html">image</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/images.html">images</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/internet_service.html">internet_service</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/internet_services.html">internet_services</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/keypair.html">keypair</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/keypairs.html">keypairs</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nat_service.html">nat_service</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nat_services.html">nat_services</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/net_attributes.html">net_attributes</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/net_peering.html">net_peering</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/net_peerings.html">net_peerings</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/net.html">net</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nets.html">nets</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nic.html">nic</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nics.html">nics</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/public_ip.html">public_ip</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/public_ips.html">public_ips</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/route_table.html">route_table</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/route_tables.html">route_tables</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/security_group.html">security_group</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/security_groups.html">security_groups</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/snapshot.html">snapshot</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/snapshots.html">snapshots</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/subnet.html">subnet</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/subnets.html">subnets</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/virtual_gateway.html">virtual_gateway</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/virtual_gateways.html">virtual_gateways</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vm_state.html">vm_state</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vm.html">vm</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vms_state.html">vms_state</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vms.html">vms</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/volume.html">volume</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/volumes.html">volumes</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vpn_connection.html">vpn_connection</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vpn_connections.html">vpn_connections</a>
          </li>

        </ul>
      </li>
      <li>
        <a href="#">Resources</a>
        <ul class="nav">

          <li>
            <a href="/docs/providers/outscale/r/access_key.html"> outscale/resource_outscale_access_key.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/client_gateway.html"> outscale/resource_outscale_client_gateway.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/dhcp_option.html"> outscale/resource_outscale_dhcp_option.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/image_launch_permission.html"> outscale/resource_outscale_image_launch_permission.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/image.html"> outscale/resource_outscale_image.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/internet_service_link.html"> outscale/resource_outscale_internet_service_link.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/internet_service.html"> outscale/resource_outscale_internet_service.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/keypair.html"> outscale/resource_outscale_keypair.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/nat_service.html"> outscale/resource_outscale_nat_service.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/net_attributes.html"> outscale/resource_outscale_net_attributes.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/net_peering_acceptation.html"> outscale/resource_outscale_net_peering_acceptation.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/net_peering.html"> outscale/resource_outscale_net_peering.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/net.html"> outscale/resource_outscale_net.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/nic_link.html"> outscale/resource_outscale_nic_link.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/nic_private_ip.html"> outscale/resource_outscale_nic_private_ip.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/nic.html"> outscale/resource_outscale_nic.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/public_ip_link.html"> outscale/resource_outscale_public_ip_link.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/public_ip.html"> outscale/resource_outscale_public_ip.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/route_table_link.html"> outscale/resource_outscale_route_table_link.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/route_table.html"> outscale/resource_outscale_route_table.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/route.html"> outscale/resource_outscale_route.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/security_group_rule.html"> outscale/resource_outscale_security_group_rule.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/security_group.html"> outscale/resource_outscale_security_group.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/snapshot_attributes.html"> outscale/resource_outscale_snapshot_attributes.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/snapshot.html"> outscale/resource_outscale_snapshot.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/subnet.html"> outscale/resource_outscale_subnet.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/virtual_gateway_link.html"> outscale/resource_outscale_virtual_gateway_link.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/virtual_gateway_route_propagation.html"> outscale/resource_outscale_virtual_gateway_route_propagation.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/virtual_gateway.html"> outscale/resource_outscale_virtual_gateway.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/vm.html"> outscale/resource_outscale_vm.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/volume_link.html"> outscale/resource_outscale_volume_link.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/volume.html"> outscale/resource_outscale_volume.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/vpn_connection_route.html"> outscale/resource_outscale_vpn_connection_route.go</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/vpn_connection.html"> outscale/resource_outscale_vpn_connection.go</a>
          </li>

        </ul>
      </li>
    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform Enterprise" }) %>
  <% end %>
  <%= yield %>
<% end %>
