<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <h4>3DS OUTSCALE</h4>

    <ul class="nav docs-sidenav">
      <li>
        <a href="#">Data Sources</a>
        <ul class="nav">

          <li>
            <a href="/docs/providers/outscale/d/image.html">image</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/images.html">images</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/internet_service.html">internet_service</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/internet_services.html">internet_services</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/keypair.html">keypair</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/keypairs.html">keypairs</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nat_service.html">nat_service</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nat_services.html">nat_services</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/net_attribute.html">net_attribute</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/net_attributes.html">net_attributes</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/net_peering.html">net_peering</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/net_peerings.html">net_peerings</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/net.html">net</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nets.html">nets</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nic.html">nic</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/nics.html">nics</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/public_ip.html">public_ip</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/public_ips.html">public_ips</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/route_table.html">route_table</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/route_tables.html">route_tables</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/security_group.html">security_group</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/security_groups.html">security_groups</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/snapshot.html">snapshot</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/snapshots.html">snapshots</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/subnet.html">subnet</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/subnets.html">subnets</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/tag.html">tag</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/tags.html">tags</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vm.html">vm</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vms.html">vms</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vm_state.html">vm_state</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/vm_states.html">vm_states</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/volume.html">volume</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/d/volumes.html">volumes</a>
          </li>

        </ul>
      </li>
      <li>
        <a href="#">Resources</a>
        <ul class="nav">

          <li>
            <a href="/docs/providers/outscale/r/image_launch_permission.html">image_launch_permission</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/image.html">image</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/internet_service_link.html">internet_service_link</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/internet_service.html">internet_service</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/keypair.html">keypair</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/nat_service.html">nat_service</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/net.html">net</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/net_attributes.html">net_attributes</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/net_peering.html">net_peering</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/net_peering_acceptation.html">net_peering_acceptation</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/nic.html">nic</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/nic_link.html">nic_link</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/nic_private_ip.html">nic_private_ip</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/public_ip.html">public_ip</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/public_ip_link.html">public_ip_link</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/route.html">route</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/route_table.html">route_table</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/route_table_link.html">route_table_link</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/security_group.html">security_group</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/security_group_rule.html">security_group_rule</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/snapshot.html">snapshot</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/snapshot_attributes.html">snapshot_attributes</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/subnet.html">subnet</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/tag.html">tag</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/vm.html">vm</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/volume.html">volume</a>
          </li>

          <li>
            <a href="/docs/providers/outscale/r/volume_link.html">volume_link</a>
          </li>

        </ul>
      </li>
    </ul>

    <%= partial("layouts/otherdocs", :locals => { :skip => "Terraform Enterprise" }) %>
  <% end %>
  <%= yield %>
<% end %>
