name: All Acceptance Tests

on:
    push:
        branches:
            - master
    schedule:
        # Run daily at 2 AM UTC
        - cron: "0 2 * * *"
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    oapi-nets-tests:
        uses: ./.github/workflows/reusable_acceptance_test.yml
        with:
            test-command: testacc-oapi-net
            runner: us-east-2
        secrets: inherit

    oapi-vms-tests:
        uses: ./.github/workflows/reusable_acceptance_test.yml
        with:
            test-command: testacc-oapi-vm
            runner: eu-west-2
        secrets: inherit

    oapi-others-tests:
        uses: ./.github/workflows/reusable_acceptance_test.yml
        with:
            test-command: testacc-oapi-others
            runner: eu-west-2
        secrets: inherit

    oks-tests:
        uses: ./.github/workflows/reusable_acceptance_test.yml
        with:
            test-command: testacc-oks
            runner: eu-west-2
        secrets: inherit

    provider-tests:
        uses: ./.github/workflows/reusable_acceptance_test.yml
        with:
            test-command: testacc-provider
            runner: eu-west-2
        secrets: inherit
