name: Credential Scanner

on:
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  cred-scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Scan credentials
      uses: outscale/cred-scan@main
      with:
        scan_path: "./"