name: Credential Scanner

on:
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  cred-scan:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Scan credentials
      uses: outscale/cred-scan@main
      with:
        scan_path: "./"