name: Generate documentation
on:
    workflow_dispatch:
        inputs:
            tag:
                description: "doc template tag repository"
                required: true

jobs:
    doc-release:
        environment: auto-build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  submodules: "recursive"
            - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
            - name: auto-generate release
              run: .github/scripts/doc-build.sh
              env:
                  TAG: ${{ github.event.inputs.tag }}
            - name: push release branch
              run: .github/scripts/doc-push.sh
              env:
                  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
                  TAG: ${{ github.event.inputs.tag }}
            - name: create pull request
              run: .github/scripts/doc-pr.sh
              env:
                  TAG: ${{ github.event.inputs.tag }}
                  GH_BOT_TOKEN: ${{ secrets.GH_BOT_TOKEN }}
