# This GitHub action can generate binaries for the PR and upload them for future use
name: Generate binaries on PR
on:
    pull_request:
        branches:
            - master
        paths:
            - "**.go"
            - "**.sum"
            - "**.mod"
            - "GNUmakefile"
    workflow_dispatch:

jobs:
    goreleaser:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
              with:
                  fetch-depth: 0
            - name: Set up Go
              uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
              with:
                  go-version-file: "./go.mod"
            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@5742e2a039330cbb23ebf35f046f814d4c6ff811 # v5
              with:
                  version: latest
                  args: build --rm-dist --snapshot
            - name: Upload assets
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
              with:
                  name: terraform-provider-outscale
                  path: dist/terraform-provider-outscale*
