# This GitHub action can generate binaries for the PR and upload them for future use
name: Generate binaries on PR
on:
    pull_request:
        branches:
            - master
        paths:
            - ".github/workflows/generate_binaries_on_pr.yml"
            - "**.go"
            - "**.sum"
            - "**.mod"
            - "GNUmakefile"
    workflow_dispatch:

jobs:
    goreleaser:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  fetch-depth: 0
            - name: Set up Go
              uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
              with:
                  go-version-file: "./go.mod"
            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
              with:
                  version: latest
                  args: build --clean --snapshot
            - name: Upload assets
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
              with:
                  name: terraform-provider-outscale
                  path: dist/terraform-provider-outscale*
