name: OAPI - VMs Acceptance Tests

on:
    pull_request:
        branches:
            - master
        paths:
            - ".github/workflows/oapi_vms_testacc.yml"
            - ".github/workflows/reusable-acceptance-test.yml"
            - "internal/services/oapi/**"
            - "internal/client/**"
            - "internal/testacc/**"
            - "internal/fwhelpers/**"
            - "internal/fwmodifyplan/**"
            - "internal/fwvalidators/**"
            - "internal/utils/**"
            - "provider/**"
            - "go.sum"
            - "go.mod"
            - "GNUmakefile"
    push:
        branches:
            - master
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    oapi-vms-tests:
        uses: ./.github/workflows/reusable_acceptance_test.yml
        with:
            test-command: testacc-oapi-vm
            runner: eu-west-2
        secrets: inherit
