name: OAPI - Nets Acceptance Tests

on:
    pull_request:
        branches:
            - master
        paths:
            - ".github/workflows/oapi_nets_testacc.yml"
            - ".github/workflows/reusable-acceptance-test.yml"
            - "internal/services/oapi/**"
            - "internal/client/**"
            - "internal/testacc/**"
            - "internal/fwhelpers/**"
            - "internal/fwmodifyplan/**"
            - "internal/fwvalidators/**"
            - "internal/utils/**"
            - "provider/**"
            - "go.sum"
            - "go.mod"
            - "GNUmakefile"
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    oapi-nets-tests:
        uses: ./.github/workflows/reusable_acceptance_test.yml
        with:
            test-command: testacc-oapi-net
            runner: us-east-2
        secrets: inherit
