name: Reusable Acceptance Test

on:
    workflow_call:
        inputs:
            test-command:
                required: true
                type: string
            runner:
                required: true
                type: string

jobs:
    acceptance-test:
        environment: test-${{ inputs.runner }}
        runs-on:
            - self-hosted
            - linux
            - ${{ inputs.runner }}
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - uses: outscale/frieza-github-actions/frieza-clean@master
              with:
                  access_key: ${{ secrets.OSC_ACCESS_KEY }}
                  secret_key: ${{ secrets.OSC_SECRET_KEY }}
                  region: ${{ secrets.OSC_REGION }}
            - name: Set up Go
              uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
              with:
                  go-version-file: "./go.mod"
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
              with:
                  terraform_version: 1.14.3
                  terraform_wrapper: false
            - name: Build go test
              run: make test
              env:
                  OUTSCALE_ACCESSKEYID: ${{ secrets.OSC_ACCESS_KEY }}
                  OUTSCALE_SECRETKEYID: ${{ secrets.OSC_SECRET_KEY }}
                  OUTSCALE_REGION: ${{ secrets.OSC_REGION }}
                  OUTSCALE_ACCOUNT: ${{ secrets.OSC_ACCOUNT_ID }}
                  OUTSCALE_IMAGEID: ${{ secrets.OUTSCALE_IMAGEID }}
            - name: Run acceptance tests
              run: make ${{ inputs.test-command }}
              env:
                  OUTSCALE_ACCESSKEYID: ${{ secrets.OSC_ACCESS_KEY }}
                  OUTSCALE_SECRETKEYID: ${{ secrets.OSC_SECRET_KEY }}
                  OUTSCALE_REGION: ${{ secrets.OSC_REGION }}
                  OUTSCALE_ACCOUNT: ${{ secrets.OSC_ACCOUNT_ID }}
                  OUTSCALE_IMAGEID: ${{ secrets.OUTSCALE_IMAGEID }}
