name: Reusable Integration Test

on:
    workflow_call:
        inputs:
            test-command:
                required: true
                type: string
            runner:
                required: true
                type: string

jobs:
    integration-test:
        environment: test-${{ inputs.runner }}
        runs-on:
            - self-hosted
            - linux
            - ${{ inputs.runner }}
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - uses: outscale/frieza-github-actions/frieza-clean@master
              with:
                  access_key: ${{ secrets.OSC_ACCESS_KEY }}
                  secret_key: ${{ secrets.OSC_SECRET_KEY }}
                  region: ${{ secrets.OSC_REGION }}
            - name: Set up Go
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
              with:
                  go-version-file: "./go.mod"
            - name: Set up Python
              uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
              with:
                  python-version: "3.10"
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
              with:
                  terraform_version: 1.14.3
                  terraform_wrapper: false
            - name: Run integration tests
              run: make ${{ inputs.test-command }}
              env:
                  OUTSCALE_ACCESSKEYID: ${{ secrets.OSC_ACCESS_KEY }}
                  OUTSCALE_SECRETKEYID: ${{ secrets.OSC_SECRET_KEY }}
                  OUTSCALE_REGION: ${{ secrets.OSC_REGION }}
                  OUTSCALE_ACCOUNT: ${{ secrets.OSC_ACCOUNT_ID }}
                  OUTSCALE_IMAGEID: ${{ secrets.OUTSCALE_IMAGEID }}
                  TF_VAR_image_id: ${{ secrets.OUTSCALE_IMAGEID }}
                  TF_VAR_region: ${{ secrets.OSC_REGION }}
                  TF_VAR_service_name: ${{ secrets.SERVICE_NAME }}
                  TF_VAR_account_id: ${{ secrets.OSC_ACCOUNT_ID }}
                  CA_PATH: ${{ secrets.CA_PATH }}
