name: Examples terraform tests

on:
    pull_request:
        branches:
            - master
        paths:
            - "examples/**.tfvars"
            - "examples/**.tf"
            - "scripts/test-examples.sh"
            - "GNUmakefile"
    schedule:
        - cron: "30 22 * * *"
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    Examples_terraform_tests:
        environment: test-eu-west-2
        runs-on: [self-hosted, linux, eu-west-2]
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  repository: ${{ github.event.pull_request.head.repo.full_name }}
                  ref: ${{ github.event.pull_request.head.ref }}
            - uses: outscale/frieza-github-actions/frieza-clean@master
              with:
                  access_key: ${{ secrets.OSC_ACCESS_KEY }}
                  secret_key: ${{ secrets.OSC_SECRET_KEY }}
                  region: ${{ secrets.OSC_REGION }}
            - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
              with:
                  go-version-file: "./go.mod"
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@5e8dbf3c6d9deaf4193ca7a8fb23f2ac83bb6c85 # v4
              with:
                  terraform_wrapper: false
            - name: Run Examples
              run: make terraform-examples
              env:
                  TF_VAR_access_key_id: ${{ secrets.OSC_ACCESS_KEY }}
                  TF_VAR_secret_key_id: ${{ secrets.OSC_SECRET_KEY }}
                  TF_VAR_region: ${{ secrets.OSC_REGION }}
                  TF_VAR_image_id: ${{ secrets.OSC_OMI_EXEMPLE }}
